<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    
        {{#each movieData}}
        <div class="container">
            <h2>{{Title}}</h2>
            <p><strong>Title:</strong> {{Title}}</p>
            <p><strong>Year:</strong> {{Year}}</p>
            <p><strong>Actors:</strong> {{Actors}}</p>
            <p><strong>Director:</strong> {{Director}}</p>
            <p><strong>Genre:</strong> {{Genre}}</p>
            <p><strong>Plot:</strong> {{Plot}}</p><br>
        </div>
        {{/each}}
        {{{backButton '/'}}}
   
</body>
</html>
